<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoCoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A22690381962E2F800291D7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22690431962E2F800291D7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A258B4141962EA5700CD0B09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A258B4241962EAAC00CD0B09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
